.footer{
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color:#181818;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 5px;
}

.footer  > p{
    margin-bottom: 0;
    color: #84868a;
}

.icons{
    display: flex;
    gap: 15px;
}

.icon{
    width: 25px;
    height: 25px;
    color: aliceblue;
    transition: 0.3s;
}

.icon:hover{
    color: #33ccff;
}
