.header{
    user-select: none;
    color: white;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.header::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.header{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.header__icon > .MuiSvgIcon-root{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    /* transition: transform 50ms ease-out; */
}

/* .header__icon > .MuiSvgIcon-root:hover{
    transform: scale(1.2);
} */

.header__icon > p{
    display: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: small;
    margin-left: auto;
    margin-right: auto;

}

/* .header__icon:hover >p{
    display: inline-flex;
} */

.header__icon--active > p{
    display: inline-flex !important;
}

.header__icon{
    display: flex;
    flex-direction: column;
    width: 100px;
    cursor: pointer;
}

.header__icons{
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: space-evenly; */
}

.header > img{
    object-fit: contain;
    height: 2em;
    background-color: black;
}

.header__search{
    
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 25px;
    color: #33ccffc4;
    background-color:#413f3f;
}

.header__search > p>input{
    margin-left: 2px;
    font-size: 22px;
    outline: none;
    border: none;
    background: none;
    color: whitesmoke;
    height: 21px;
}

@media only screen and (max-width: 600px) {
    .header > img{
        object-fit: contain;
        height: 1.2em;
        background-color: black;
    }
    .header__search > p>input{
        margin-left: 2px;
        font-size: 15px;
        outline: none;
        border: none;
        background: none;
        color: whitesmoke;
        height: 21px;
    }
    
}