.videoCard{
    color: white;
    width: 25em;
    height: auto;
    padding: 10px;
    transition: transform 100ms ease-in-out;
    margin-bottom: 1.5em;
}

.videoCard:hover{
    transform: scale(0.95);
}

.videoCard > img{
    height: 15em;
    object-fit: contain;
    width: 25em;
    cursor: pointer;
}

.videoCard > h2{
    padding-top: 10px;
    font-size: 1.4em;
    padding-left: 3px;
}

.videoCard > p{
    font-size: small;
    opacity: 0.7;
}

.videoCard__stats{
    display: none;
}

.videoCard:hover>.videoCard__stats{
    display: inline;
}

.row{
    display: flex;
    flex-direction: column;
}

/* .video__box > iframe{
    border-width: 0.2em;
    border-color: #33ccff;
    border-style: transparent;
} */

.video__box{
    padding-left: 8px;
}
.trailer{
    max-height: 250px;
    max-width: 25em;
}

@media only screen and (max-width: 600px) {
    .videoCard{
       width: 22em;
    }

    .videoCard > img{
        width: 22em;
    }
  }